// Colors
$purple: #8D42C2;

// Navigation colors
$nav-background: $purple;
$nav-text-color: #DFDFDF;
$nav-link-color: #FFF;

// Clock variables
$clock-text-color: #EEE;
$clock-bg-color: lighten($purple, 20%);
$clock-border-color: $purple;
